@charset "UTF-8";

html, body {margin: 0; padding: 0; background: #fff;}

#banner {
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
    box-sizing: border-box;
    background: rgba(17,44,83,1);
    background: -moz-linear-gradient(45deg, rgba(17,44,83,1) 0%, rgba(17,44,83,1) 45%, rgba(12,27,49,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(17,44,83,1)), color-stop(45%, rgba(17,44,83,1)), color-stop(100%, rgba(12,27,49,1)));
    background: -webkit-linear-gradient(45deg, rgba(17,44,83,1) 0%, rgba(17,44,83,1) 45%, rgba(12,27,49,1) 100%);
    background: -o-linear-gradient(45deg, rgba(17,44,83,1) 0%, rgba(17,44,83,1) 45%, rgba(12,27,49,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(17,44,83,1) 0%, rgba(17,44,83,1) 45%, rgba(12,27,49,1) 100%);
    background: linear-gradient(45deg, rgba(17,44,83,1) 0%, rgba(17,44,83,1) 45%, rgba(12,27,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#112c53', endColorstr='#0c1b31', GradientType=1 );
}


#elem1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 250px;
    background: url("banner/001/001.png") no-repeat left top;
}

#elem2 {
    position: absolute;
    top: 64px;
    left: -200px;
    width: 204px;
    height: 50px;
    background: url("banner/001/002.png") no-repeat center top;
}

#elem3 {
    position: absolute;
    top: 112px;
    right: -200px;
    width: 203px;
    height: 50px;
    background: url("banner/001/003.png") no-repeat center top;
}

#elem4 {
    position: absolute;
    bottom: -35px;
    left: 79px;
    width: 126px;
    height: 29px;
    background: url("banner/001/004.png") no-repeat bottom;
}